# Import data

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
club_df = pd.read_csv('club.csv')

club_df.head()

,Unnamed: 0,Club Name,Competition Name,Squad Size,Average Age Of Players,Market Value Of Club In Millions(£),Average Market Value Of Players In Millions(£),Market Value Of Top 18 Players In Millions(£)
0,0,Manchester City,Premier League,24,27.1,970.02,40.42,920.70
1,1,Paris Saint-Germain,Ligue 1,36,26.1,891.18,24.76,801.00
2,2,Manchester United,Premier League,29,27.9,820.13,28.28,742.50
3,3,Chelsea FC,Premier League,27,26.9,802.35,29.72,737.10
4,4,Liverpool FC,Premier League,27,27.2,779.85,28.88,715.95

In [3]:
club_df.info

<bound method DataFrame.info of     Unnamed: 0               Club Name Competition Name  Squad Size  \
0            0         Manchester City   Premier League          24
1            1     Paris Saint-Germain          Ligue 1          36
2            2       Manchester United   Premier League          29
3            3              Chelsea FC   Premier League          27
4            4            Liverpool FC   Premier League          27
..         ...                     ...              ...         ...
95          95              Levante UD           LaLiga          27
96          96                 FC Metz          Ligue 1          29
97          97  Clube Atlético Mineiro          Série A          29
98          98        Lokomotiv Moscow     Premier Liga          29
99          99               Genoa CFC          Serie A          34

    Average Age Of Players  Market Value Of Club In Millions(£)  \
0                     27.1                               970.02
1                     26.1                               891.18
2                     27.9                               820.13
3                     26.9                               802.35
4                     27.2                               779.85
..                     ...                                  ...
95                    28.1                                89.19
96                    25.3                                89.19
97                    27.5                                88.61
98                    25.0                                87.32
99                    27.6                                86.94

    Average Market Value Of Players In Millions(£)  \
0                                            40.42
1                                            24.76
2                                            28.28
3                                            29.72
4                                            28.88
..                                             ...
95                                            3.30
96                                            3.08
97                                            3.06
98                                            3.01
99                                            2.56

    Market Value Of Top 18 Players In Millions(£)
0                                          920.70
1                                          801.00
2                                          742.50
3                                          737.10
4                                          715.95
..                                            ...
95                                          82.35
96                                          79.74
97                                          76.46
98                                          77.85
99                                          72.27

[100 rows x 8 columns]>

In [4]:
#check null values

vars_with_na = [
    var for var in club_df.columns
    if club_df[var].isnull().sum() > 0
]

vars_with_na

[]

no null values

In [5]:
#'Unnamed: 0' does not add anything
club_df = club_df.drop(columns=['Unnamed: 0'])

club_df.head()

,Club Name,Competition Name,Squad Size,Average Age Of Players,Market Value Of Club In Millions(£),Average Market Value Of Players In Millions(£),Market Value Of Top 18 Players In Millions(£)
0,Manchester City,Premier League,24,27.1,970.02,40.42,920.70
1,Paris Saint-Germain,Ligue 1,36,26.1,891.18,24.76,801.00
2,Manchester United,Premier League,29,27.9,820.13,28.28,742.50
3,Chelsea FC,Premier League,27,26.9,802.35,29.72,737.10
4,Liverpool FC,Premier League,27,27.2,779.85,28.88,715.95

In [6]:
#check unique values - is the amount normal for the data?
for i in club_df.columns:
    print(f'{i}: has {len(club_df[i].unique())} values')

Club Name: has 100 values
Competition Name: has 16 values
Squad Size: has 13 values
Average Age Of Players: has 46 values
Market Value Of Club In Millions(£): has 98 values
Average Market Value Of Players In Millions(£): has 96 values
Market Value Of Top 18 Players In Millions(£): has 99 values

As the data shows the top 100 richest clubs, most clubs here will belong to the top 5 leagues, and some leagues may only feature one club.

# Save dataset

In [7]:
club_df.to_csv('new_club.csv', index=False)

In [8]:
df2 = pd.read_csv('new_club.csv')
df2.head()

,Club Name,Competition Name,Squad Size,Average Age Of Players,Market Value Of Club In Millions(£),Average Market Value Of Players In Millions(£),Market Value Of Top 18 Players In Millions(£)
0,Manchester City,Premier League,24,27.1,970.02,40.42,920.70
1,Paris Saint-Germain,Ligue 1,36,26.1,891.18,24.76,801.00
2,Manchester United,Premier League,29,27.9,820.13,28.28,742.50
3,Chelsea FC,Premier League,27,26.9,802.35,29.72,737.10
4,Liverpool FC,Premier League,27,27.2,779.85,28.88,715.95

now ready for sql.

# Tableau prep

When saved as a csv some club and competition names were corrupted leaving athletico madrid to be displayed as: AtlÃ©tico de Madrid.
This can be easily rectified by searching for all none alphanumerics and replacing them with the correct strings.

STEPS:
1. Use club_1.csv to manipulate the dataset 
2. Apply the changes and save as new_club_1.0.csv ready for SQL again.

### 1. Use club_1.csv to manipulate the dataset

In [9]:
club1_df = pd.read_csv('club_1.csv')
club1_df.head()

,club_name,competition_name,squad_size,avg_player_age,markt_val_of_club_in_mil_£,avg_markt_val_of_player_in_mil_£,markt_val_top_18_players_in_mil_£
0,1.FSV Mainz 05,Bundesliga,25,25.7,96,4,90
1,AC Milan,Serie A,29,26.8,429,15,390
2,ACF Fiorentina,Serie A,26,27.0,228,9,214
3,AFC Bournemouth,Championship,26,25.7,104,4,100
4,Ajax Amsterdam,Eredivisie,25,25.7,305,12,283

In [10]:
club1_df.shape

(100, 7)

club_name and competition_name are the columns of interest

In [11]:
#CREATE the FUNCTION
#we want to find the index of the corrupted values so we can replace them

def find_non_alphanum(df, column):
    non_alnum_index = []
    for c in column:
        for i in range(len(df[c])):
            if df[c][i] == 'SÃ¼per Lig':#function does not spot this string otherwise
                non_alnum_index.append(i)
            for z in range(len(df[c][i].split(' '))):
                split_df = df[c][i].split(' ')
                if split_df[z].isalnum() == False:
                    non_alnum_index.append(i)
                    continue
    print(f'length: {len(non_alnum_index)}')
    return non_alnum_index

In [12]:
#create a list of the indexes for the club and competition columns
club_idx = find_non_alphanum(club1_df,['club_name'])
competition_idx = find_non_alphanum(club1_df,['competition_name'])

length: 6
length: 0

In [13]:
#print club names that need correcting
for i in club_idx:
    print(club1_df['club_name'][i])

1.FSV Mainz 05
AS Saint-Etienne
Brighton & Hove Albion
Galatasaray A.S.
Paris Saint-Germain
Zenit St. Petersburg

not all of the above are corrupted.

In [14]:
#show competition names that need correcting
#had to print the whole row so I know what country the competition takes place in.
club1_df.iloc[competition_idx]

Empty DataFrame
Columns: [club_name, competition_name, squad_size, avg_player_age, markt_val_of_club_in_mil_£, avg_markt_val_of_player_in_mil_£, markt_val_top_18_players_in_mil_£]
Index: []

In [15]:
#create a list of the errors and the correct values
club_error = ['AS Saint-Ã‰tienne', 'AtlÃ©tico de Madrid', 'Borussia MÃ¶nchengladbach',
                   'Club AtlÃ©tico River Plate', 'Clube AtlÃ©tico Mineiro', 'Real Betis BalompiÃ©']
club_correct = ['AS Saint-Etienne', 'Atletico de Madrid', 'Borussia Monchengladbach',
                   'Club Atletico River Plate', 'Clube Atletico Mineiro', 'Real Betis Balompie']

comp_error = ['SÃ©rie A', '1.HNL', 'SÃ¼per Lig']
comp_correct = ['Brasileiro Serie A', 'Prva HNL', 'Turkish Super Lig']

def create_dict(key_list, val_list):
    zip_lists = zip(key_list, val_list)
    new_dict = dict(zip_lists)
    
    return new_dict

In [16]:
import warnings
warnings.filterwarnings('ignore')
#import warning here to hide my path file name

#correct the errors
club_dict = create_dict(club_error, club_correct)
comp_dict = create_dict(comp_error, comp_correct)

for i in club_idx:
    if club1_df['club_name'][i] in club_dict:
        club1_df['club_name'][i] = club_dict[club1_df['club_name'][i]]

for i in competition_idx:
    if club1_df['competition_name'][i] in comp_dict:
        club1_df['competition_name'][i] = comp_dict[club1_df['competition_name'][i]]

In [17]:
pd.set_option('display.max_rows', None) #displays all rows to check before exporting
club1_df

,club_name,competition_name,squad_size,avg_player_age,markt_val_of_club_in_mil_£,avg_markt_val_of_player_in_mil_£,markt_val_top_18_players_in_mil_£
0,1.FSV Mainz 05,Bundesliga,25,25.7,96,4,90
1,AC Milan,Serie A,29,26.8,429,15,390
2,ACF Fiorentina,Serie A,26,27.0,228,9,214
3,AFC Bournemouth,Championship,26,25.7,104,4,100
4,Ajax Amsterdam,Eredivisie,25,25.7,305,12,283
5,Arsenal FC,Premier League,26,25.4,507,20,454
6,AS Monaco,Ligue 1,29,24.4,331,11,292
7,AS Roma,Serie A,30,25.2,386,13,349
8,AS Saint-Etienne,Ligue 1,27,24.3,90,3,81
9,Aston Villa,Premier League,25,25.6,372,15,354
10,Atalanta BC,Serie A,26,27.3,374,14,343
11,Athletic Bilbao,LaLiga,26,26.5,182,7,171
12,Atletico de Madrid,LaLiga,22,28.2,671,31,652
13,Bayer 04 Leverkusen,Bundesliga,28,24.6,349,12,320
14,Bayern Munich,Bundesliga,26,26.1,756,29,726
15,Besiktas JK,Turkish Super Lig,32,27.8,114,4,103
16,Bologna FC 1909,Serie A,30,25.9,131,4,121
17,Borussia Dortmund,Bundesliga,34,24.8,544,16,503
18,Borussia Monchengladbach,Bundesliga,28,25.6,244,9,232
19,Brentford FC,Premier League,31,24.6,180,6,169
20,Brighton & Hove Albion,Premier League,27,25.7,232,9,213
21,Burnley FC,Premier League,24,30.1,131,5,125
22,Cagliari Calcio,Serie A,28,27.4,132,5,122
23,Celta de Vigo,LaLiga,22,27.8,127,6,123
24,Chelsea FC,Premier League,27,26.9,802,30,737
25,Club Atletico River Plate,Liga Profesional,29,27.9,100,3,93
26,Club Brugge KV,Jupiler Pro League,30,24.3,150,5,137
27,Clube Atletico Mineiro,Brasileiro Serie A,29,27.5,89,3,76
28,Clube de Regatas do Flamengo,Brasileiro Serie A,32,27.4,134,4,117
29,Crystal Palace,Premier League,26,27.6,225,9,210
30,Dynamo Kyiv,Premier Liga,30,25.6,120,4,107
31,Eintracht Frankfurt,Bundesliga,32,25.6,180,6,163
32,Everton FC,Premier League,26,28.0,386,15,361
33,FC Barcelona,LaLiga,30,25.9,592,20,536
34,FC Girondins Bordeaux,Ligue 1,30,25.3,90,3,79
35,FC Metz,Ligue 1,29,25.3,89,3,80
36,FC Porto,Liga Bwin,27,26.6,239,9,218
37,Fenerbahce SK,Turkish Super Lig,32,25.5,114,4,103
38,Feyenoord Rotterdam,Eredivisie,28,23.6,101,4,96
39,FK Krasnodar,Premier Liga,24,27.8,102,4,98
40,Fulham FC,Championship,30,26.8,133,4,119
41,Galatasaray A.S.,Turkish Super Lig,31,26.8,99,3,86
42,Genoa CFC,Serie A,34,27.6,87,3,72
43,Getafe CF,LaLiga,25,27.3,141,6,135
44,GNK Dinamo Zagreb,Prva HNL,30,26.1,99,3,89
45,Hellas Verona,Serie A,26,26.9,98,4,89
46,Hertha BSC,Bundesliga,29,26.2,110,4,100
47,Inter Milan,Serie A,28,29.0,473,17,456
48,Juventus FC,Serie A,25,27.5,543,22,507
49,KRC Genk,Jupiler Pro League,25,23.3,121,5,112
50,Leeds United,Premier League,24,25.0,233,10,228
51,Leicester City,Premier League,28,27.1,493,18,447
52,Levante UD,LaLiga,27,28.1,89,3,82
53,Liverpool FC,Premier League,27,27.2,780,29,716
54,Lokomotiv Moscow,Premier Liga,29,25.0,87,3,78
55,LOSC Lille,Ligue 1,26,25.6,242,9,232
56,Manchester City,Premier League,24,27.1,970,40,921
57,Manchester United,Premier League,29,27.9,820,28,743
58,Newcastle United,Premier League,25,28.4,221,9,204
59,Norwich City,Premier League,28,25.5,168,6,154
60,OGC Nice,Ligue 1,27,24.1,203,8,189
61,Olympiacos Piraeus,Super League 1,32,26.5,102,3,88
62,Olympique Lyon,Ligue 1,29,25.6,302,10,286
63,Olympique Marseille,Ligue 1,27,24.0,225,8,211
64,Paris Saint-Germain,Ligue 1,36,26.1,891,25,801
65,PSV Eindhoven,Eredivisie,27,25.2,139,5,129
66,Rangers FC,Premiership,29,27.7,95,3,89
67,RB Leipzig,Bundesliga,29,24.1,448,15,408
68,RCD Espanyol Barcelona,LaLiga,25,27.7,92,4,84
69,Real Betis Balompie,LaLiga,28,28.7,199,7,182
70,Real Madrid,LaLiga,27,27.3,680,25,610
71,Real Sociedad,LaLiga,26,26.2,346,13,324
72,Red Bull Salzburg,Bundesliga,29,23.0,139,5,124
73,SC Braga,Liga Bwin,28,25.6,107,4,97
74,SC Freiburg,Bundesliga,26,25.5,119,5,112
75,Sevilla FC,LaLiga,26,28.3,374,14,341
76,Shakhtar Donetsk,Premier Liga,29,25.8,166,6,150
77,Sheffield United,Championship,28,27.9,112,4,103
78,SL Benfica,Liga Bwin,29,27.0,253,9,215
79,Sociedade Esportiva Palmeiras,Brasileiro Serie A,31,27.2,129,4,113
80,Southampton FC,Premier League,26,26.1,230,9,214
81,Spartak Moscow,Premier Liga,24,25.8,113,5,109
82,Sporting CP,Liga Bwin,24,25.7,178,7,170
83,SS Lazio,Serie A,33,27.6,280,8,258
84,SSC Napoli,Serie A,26,27.7,467,18,445
85,Stade Rennais FC,Ligue 1,28,23.7,183,7,176
86,Torino FC,Serie A,30,26.1,167,6,150
87,Tottenham Hotspur,Premier League,24,25.6,627,26,558
88,TSG 1899 Hoffenheim,Bundesliga,33,25.7,182,6,157
89,UC Sampdoria,Serie A,27,27.3,109,4,97
90,Udinese Calcio,Serie A,26,27.9,93,4,86
91,US Sassuolo,Serie A,27,27.4,195,7,179
92,Valencia CF,LaLiga,27,25.7,232,9,216
93,VfB Stuttgart,Bundesliga,33,23.5,157,5,140
94,VfL Wolfsburg,Bundesliga,32,25.3,257,8,233
95,Villarreal CF,LaLiga,26,28.1,301,12,283
96,Watford FC,Premier League,27,28.2,131,5,115
97,West Ham United,Premier League,24,28.9,319,13,308
98,Wolverhampton Wanderers,Premier League,24,26.4,346,14,332
99,Zenit St. Petersburg,Premier Liga,22,27.2,156,7,154

### 2. Apply the changes and save as new_club_1.0.csv ready for SQL again.

In [18]:
club1_df.to_csv('new_club_1.0.csv', index=False)

In [19]:
new_club_df = pd.read_csv('new_club_1.0.csv')
new_club_df.head()

,club_name,competition_name,squad_size,avg_player_age,markt_val_of_club_in_mil_£,avg_markt_val_of_player_in_mil_£,markt_val_top_18_players_in_mil_£
0,1.FSV Mainz 05,Bundesliga,25,25.7,96,4,90
1,AC Milan,Serie A,29,26.8,429,15,390
2,ACF Fiorentina,Serie A,26,27.0,228,9,214
3,AFC Bournemouth,Championship,26,25.7,104,4,100
4,Ajax Amsterdam,Eredivisie,25,25.7,305,12,283

ready for mySQL